<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Machine Learning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/d3Style.css">
  <link rel="stylesheet" href="assets/css/styles.css" media="screen">
</head>

<body>
  <center>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <!-- <img class="navbar-brand" src="assets/images/group_logo.png" id="logo"> -->
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a style="color: beige; font-size: 17px;" href="../index.html">Home</a></li>
              <li><a style="color: beige; font-size: 17px;" href="about_us.html">About Us</a></li>
              <li><a style="color: beige; font-size: 17px;" href="project_outcomes.html">Outcomes</a></li>
              <li class="dropdown">
                <a style="color: beige; font-size: 17px;" href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">Visualizations <span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="GYP.html">Visualizations Analysis</a></li>
                  <li><a href="GYG.html">Genre Graph Analysis</a></li>
                  <li><a href="GP.html">Platform Sales Visualizations</a></li>
                  <li><a href="map.html">Sales Map</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a style="color: beige; font-size: 17px;" href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">Machine
                  Learning
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="ML1.html">Linear Regression</a></li>
                  <li><a href="ML2.html">Model of Bestfit</a></li>
                  <li><a href="ML3.html">MAE Comparison</a></li>
                  <li><a href="ML4.html">ML Insights</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a style="color: beige; font-size: 17px;" href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">Data
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="datatable1.html">Data Table I</a></li>
                  <li><a href="datatable2.html">Data Table II</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
    <div class="container">
      <div class="row" style="background-color: #181818; text-align: center;">
        <div class="col-sm-12">
          <section class="mainContent">
            <!--img src="assets/images/au_logo.png"-->
            <h1 style="font-size: 30px; color: beige"> Model Comparison </h1>

            <ul class="list-unstyled">
              <li>
                <div class="thumbnail">
                  <p>Using linear regression models, video game sales appear to show a positive
                    correlation with user scores and critic scores. The higher rating a game is
                    assigned from players or critics, the more likely that particular
                    game will have higher than average sales.
                  </p>
                  <p>Implementing more data and other variables through different machine learning models
                    to predict sales figures might allow for more accurate forecasting. And by using the
                    mean absolute error to measure differences between our model's predicted outcomes and
                    true values, it becomes an excellent point for comparison of accuracy.
                  </p>
                  <img class="headshot" src="images/MAEcomparisonFeatures.png" alt="Mean Absolute Error Comparison Graph">
                  <div class="caption">
                    <h4>Data includes all critic and user scores.</h4>
                  </div>
              </li>
            </ul>
          </section>
          <section class="mainContent">
            <!--img src="assets/images/au_logo.png"-->
            <h1 style="font-size: 30px; color: beige"> Identifying Feature Parameters </h1>
            <ul class="list-unstyled">
              <li>
                <div class="thumbnail">
                  
                  <div class="caption">
                    <p>It is important to include the right features in the analysis, and to identify certain
                      variables that might hold more weight in increasing accuracy.Looking at Critic Scores, it appears
                      that any additional points given after a score of 7.5 significantly increases the predicted sales,
                      much more so than points awarded below this threshold. Also, the more scores received by any one
                      game looks to correlate to a higher
                      score overall as well. We can weigh those variables respectively to generate better predictions.
                    </p>
                    <img class="headshot" src="images/linear.png" alt="">
                  </div>
              </li>
            </ul>
          </section>
          <section class="mainContent">
            <!--img src="assets/images/au_logo.png"-->
            <h1 style="font-size: 30px; color: beige"> Model Comparisons With Updated Features </h1>
            <ul class="list-unstyled">
              <li>
                <div class="thumbnail">
                  <p>The new features show improved performance accuracy.</p>
                  <img class="headshot" src="images/MAEcomparisonWeighted.png" alt="">
                  <div class="caption">
                  </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </center>
</body>

</html>